.Selector{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-self: center; 
    align-items: center;
}
.Game{
    display: flex;
    flex-direction: row;
}
.Zgadywarka{
    background-color: aquamarine;
}