.previewImage{
    width: 15em;
    height: 10em;
    object-fit: cover;
    flex-shrink: 0;
    margin: 0.5em;
}
.wholeCard{
    font-size: 1.5em;
    margin: 1em;
    color: rgb(0, 47, 52);
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    @media (max-width:800px){
        flex-wrap: wrap;
    }
    
}
.params{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    padding: 1em;
    justify-content: space-between;
}
