#Panel{
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}
.leaderboardItems{
    padding: 1em;
    margin: 0.5em;
    border: 1px solid #333;
    border-radius: 0.7em;
}

.evenClass{
    background-color: #EEE;
}
.oddClass{
    background-color: white;
}
.info{
    position: relative;
    display: inline-block;
}
.info .tip {
    visibility: hidden;
    width: 15em;
    background-color: rgb(242, 244, 245);;
    color: #000;
    border: #000 solid 1px;
    text-align: center;
    padding: 0.5em;
    border-radius: 0.7em;

    position: absolute;
    z-index: 1;
    bottom: -125%; /* Position the tooltip above the link */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0; /* Start hidden */
    transition: opacity 0.4s;
}
.info:hover .tip {
    visibility: visible;
    opacity: 1;
    cursor:none;
}